/* Acompañamos */
.acompanamos {
  padding: 50px 20px;
  text-align: center;
}

.features-container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.feature-compani {
  flex: 1 1 calc(33% - 40px);
  background-color: #1054ae;
  filter: drop-shadow(1px 1px 5px #2e2e2f);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transform-origin: center;
  transition: transform 0.5s ease;
}


.feature-compani:hover {
  transform: scale(1.1); /* Ajusta el valor según lo necesario */
}

.feature .material-icons {
  font-size: 3rem;
  margin-bottom: 10px;
}
.feature-compani span {
  color: #ecebee;
  font-size: 40px;
  margin-bottom: 10px;
}
/* Sobre nosotros */
#about {
  padding: 50px 20px;
  background-color: var(--background);
  text-align: center;
}

#about p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
