/* Cards features */
.features {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.feature {
  display: flex;
  flex: 1 1 calc(33% - 40px);
  align-items: start;
  gap: 20px;
  width: 200px;
  margin: 20px;
  border-radius: 0px 40px 40px 40px;

}
.feature img{
  transform: scaleX(-1);
  filter: drop-shadow(5px 5px 10px #2e2e2f);

}

.feature h4 {
  margin: 0;
  font-size: 20px;
}

.feature p {
  font-size: 17px;
}

.feature i {
  font-size: 50px;
  color: #1054ae;
}
