/* Estilos para el contenedor */
.form-container {
    display: flex;
    align-items: stretch; /* Asegura que tanto la imagen como el formulario tengan la misma altura */
    max-width: 1900px;
    margin: 0 auto;
    height: 100%; /* Ocupa el 100% de la altura disponible */
}

/* Estilo para la imagen */
.form-image {
    flex: 0 0 40%; /* La imagen ocupa el 40% del ancho */
    position: relative; /* Necesario para posicionar el párrafo sobre la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegura que la imagen no se desborde */
}

.form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen dentro del contenedor */
    border-radius: 8px;
}
/* Párrafo sobre la imagen */
.image-text {
    position: absolute; /* Posiciona el párrafo sobre la imagen */
    top: 35%; /* Ajusta la distancia desde la parte superior */
    left: 50%;
    transform: translateX(-50%); /* Centra el párrafo horizontalmente */
    padding: 10px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

/* Estilo para el formulario */
.form-content {
    flex: 0 0 60%; /* El formulario ocupa el 60% del ancho */
    background-color: #f4f4f4;
    padding: 40px; /* Aumenta el espacio interno (padding) para darle más espacio al contenido */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: max-width 0.3s ease;
}

/* Ajustes de los inputs y botones */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="email"],
form input[type="name"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form textarea {
    height: 200px;
    max-height: 300px;
}

form button[type="submit"],
form button[type="reset"] {
    background-color: #1054ae;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover,
form button[type="reset"]:hover {
    background-color: #0056b3;
}

form button[type="reset"] {
    background-color: #6c757d;
}

form button[type="reset"]:hover {
    background-color: #565e64;
}
