/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body,
html {
  font-family: "Arial", sans-serif;
  background-color: var(--background);
  color: var(--text);
  scroll-behavior: smooth;
  line-height: 1.6;
  overflow-x: hidden; 

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Variables para modo claro y oscuro */
:root {
  --background: #f4f4f9;
  --text: #333;
  --primary-color: #4caf50;
  --accent-color: #ffc107;
  --border-color: #e0e0e0;
}

.dark-mode {
  --background: #121212;
  --text: #f4f4f9;
  --primary-color: #76c7c0;
  --accent-color: #ff9800;
  --border-color: #444;
}
.whatsapp {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 100; 
  }
.whatsapp img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

#contact iframe {
  width: 100%;
  max-width: 100%;
  height: 400px;
}