/* Para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    padding: 0px;
  }
  .menu {
    display: none; /* Ocultar el menú original */
  }
  .hamburger-menu {
    display: block;
  }
  .mobile-menu {
    display: none; /* Ocultar por defecto */
  }
  #hero img {
    max-height: 200px;
  }
  .hero-content h1,
  .hero-content p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  .feature img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .feature-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .feature h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .feature p {
    font-size: 16px;
    line-height: 1.5;
  }
  .box__footer a .fab {
    font-size: 40px;
  }
  form {
    max-width: 100%; /* Ocupar todo el ancho disponible en móviles */
    padding: 15px; /* Espaciado más compacto */
  }
  form input[type="email"],
  form input[type="name"],
  form textarea {
    font-size: 14px; /* Texto ligeramente más pequeño */
    padding: 8px;
  }
  form button[type="submit"],
  form button[type="reset"] {
    font-size: 14px; /* Botones más pequeños */
    padding: 8px 16px;
  }
}

/* Para pantallas medianas (tablets) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
  .menu {
    display: none; /* Ocultar el menú original */
  }
  .hamburger-menu {
    display: block;
  }
  #hero img {
    max-height: 400px;
  }

  .features {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .feature {
    width: 30%;
    padding: 0px;
    text-align: left;
  }
  .feature img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .feature-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .feature h4 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .feature p {
    font-size: 20px;
    line-height: 1.8;
  }
  #contact iframe {
    width: 100%;
    max-width: 100%;
    height: 400px;
  }
  form {
    max-width: 600px; /* Aumentar el ancho del formulario para tablets */
    padding: 25px; /* Un poco más de espacio en tablets */
  }
  form input[type="email"],
  form input[type="name"],
  form textarea {
    font-size: 16px; /* Tamaño de texto más grande en tablets */
    padding: 12px;
  }
  form button[type="submit"],
  form button[type="reset"] {
    font-size: 16px;
    padding: 12px 24px; /* Botones más grandes en tablets */
  }
}

/* Para pantallas grandes (más de 992px) */
@media only screen and (min-width: 992px) {
  .features {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .feature {
    width: 30%;
    padding:0px 100px;
    text-align: left;
  }
  .feature img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .feature-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .feature h4 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .feature p {
    font-size: 20px;
    line-height: 1.8;
  }
  form {
    max-width: 1400px; /* Aumentar el ancho en escritorio */
    padding: 30px;
  }
  form input[type="email"],
  form input[type="name"],
  form textarea {
    font-size: 18px;
    padding: 15px;
  }
  form button[type="submit"],
  form button[type="reset"] {
    font-size: 18px;
    padding: 15px 30px;
  }
}
