/* Servicios y Proyectos */
.service-cards,
.project-gallery {
  display: flex;
  flex-wrap: wrap; /* Ajusta la distribución en múltiples filas si es necesario */
  justify-content: space-around;
  gap: 20px;
}

.service-card,
.project-item {
  flex: 1 1 40%; /* Ajusta el ancho y permite que se adapten */
  margin: 10px;
  text-align: center;
}

.service-card img,
.project-item img,
.service-card iframe {
  width: 100%;
  height: auto; /* Ajusta la altura automáticamente */
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px #2e2e2f);

}

.project-item iframe {
  width: 100%;
  height: 800px; 
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px #2e2e2f);

}
